nav{
    background: linear-gradient(to right,rgb(74, 248, 225),rgb(114, 240, 11));
    font-size: 18px;
    color: black;
}
button{
    background-color: rgb(72, 245, 110);
    color: white;
    border: 3px solid rgb(61, 59, 59);
    border-radius: 25px;
}
button:hover{
    background-color: rgb(58, 243, 203);
}
